<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <link rel="icon" type="image/png" sizes="48x48" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAP1BMVEVHcEzcNUXcNUXcNUXcNUXcNUXcNUXcNUXcNUXcNUXcNUXcNUXcNUXcM0T////gTVv75+nfRlT53eDvpKvoeoXOhYRpAAAADHRSTlMAF+KQVQotqtX4fceMAV7EAAABJElEQVRIx9VVy47DMAgsfsROYtza6f9/63Z7iIKBtROtVJVbJCYwAx5uty8JD6/wg8nglrBGY+IaFgfd9MnGOe0xRzt10k1qwvwB8Y6lvyFOYQN2TmLMVqQCIakRoJuP2EF4S/9ZCv22LQ9H+3/W+qQ8XKMn0QdLzbkW0pWh6tKG8P7I+XGnNKxeQAQgKdEwFiscS0AcAUTQJFIAB6GWNAJIyw4IY4CwT3kdA6xe4awBdtZgxgDmOuBsS5y0sHxH0kzWhGy9iaxscMIDooNz/PUjci9w6vIl/K2gchbWu2y1bkVf7/YBpS2/YmumMKme8VaV6Wp1ExABjQk0QvGWWpuhTQmkmZFRq2Sy9s2VDi7Af9j9+YNy/mRdOIoXzu6Fw/7x+AENwjxmSNCs4gAAAABJRU5ErkJggg==">
  <link rel="stylesheet" href="/static/css/libs/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/libs/bootstrap-icons.min.css" crossorigin="anonymous">
</head>
<body>
  <div class="position-fixed top-0 start-0 w-100 h-100">
    <div class="position-absolute overflow-y-scroll top-50 start-0 w-100 mh-100 translate-middle-y">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-6">
            <div class="row justify-content-center align-items-center">
              <div class="col-sm-auto">
                <div class="text-center text-danger" style="font-size: 5em;">
                  <i class="bi bi-exclamation-circle-fill"></i>
                </div>
              </div>

              <div class="col-sm">
                <div class="text-center text-sm-start fw-bold">
                  <h3 class="m-0">{{ title }}</h3>
                  <p class="text-secondary m-0">
                    Something went wrong!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/static/js/libs/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>