{{#contentFor "scripts"}}
<script>
  (() => { "use strict", $(btn).click(() => window.location.replace("/")); })();
</script>
{{/contentFor}}
<div class="position-fixed text-bg-dark top-0 start-0 w-100 h-100">
  <div class="position-absolute overflow-y-scroll top-50 start-0 w-100 mh-100 translate-middle-y py-3">
    <div class="container">
      <div class="d-flex justify-content-center align-items-center">
        <div class="col-md-6">
          <div class="row justify-content-center align-items-center">
            <div class="col-sm-auto my-3">
              <div class="text-center opacity-50 lh-1" style="font-size: 5em;">
                <i class="bi bi-exclamation-circle-fill"></i>
              </div>
            </div>

            <div class="d-none d-sm-block vr mx-2 px-0"></div>

            <div class="col-sm">
              <div class="text-center text-sm-start fw-bold">
                <h3 class="opacity-50 mb-3">{{ title }}</h3>

                <button id="btn" class="btn btn-sm btn-light fw-medium px-3 rounded-pill">
                  Go to Home <i class="bi bi-house-fill"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>