<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#5F9BEB">
  <title>{{ title }}</title>

  <link rel="icon" href="/static/icons/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/static/icons/apple-touch-icon.png">
  <link rel="manifest" href="/static/manifest.json">

  <link rel="stylesheet" href="/static/css/libs/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/libs/bootstrap-icons.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/libs/jquery-confirm.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/style.css" crossorigin="anonymous">
  {{> block/css }}
</head>
<body>
  {{> header }}

  {{> body }}

  {{> footer }}

  <script src="/static/js/libs/jquery.min.js" crossorigin="anonymous"></script>
  <script src="/static/js/libs/jquery-confirm.min.js" crossorigin="anonymous"></script>
  <script src="/static/js/libs/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <script src="/static/js/jconfirm.defaults.js" crossorigin="anonymous"></script>
  {{> block/scripts }}
</body>
</html>